@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="">
@*    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
*@


    <div class="container">
        <div class="row">
            <div class="col-6">

                <div class="card">
                    <div class="card-header">
                        Cidades mais quentes hoje
                    </div>
                    <div class="card-body">
                        @foreach (var item in Model.MaxHotToday)
                        {
                            <h5 class="card-title">@item.City.Name</h5>
                            <p class="card-text">Min: @item.Min / Max: @item.Max </p>
                        }

                        
                    </div>
                </div>

            </div>
            <div class="col-6">

                <div class="card">
                    <div class="card-header">
                        Cidades mais frias hoje
                    </div>
                    <div class="card-body">
                        @foreach (var item in Model.MinHotToday)
                        {
                            <h5 class="card-title">@item.City.Name</h5>
                            <p class="card-text">Min: @item.Min / Max: @item.Max </p>
                        }
                    </div>
                </div>

            </div>

            <!-- Force next columns to break to new line -->
            <div class="w-100"></div>

@*            <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
            <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>*@
        </div>
    </div>


</div>
